version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
    groups:
      dev-deps:
        dependency-type: "development"
      prod-deps:
        dependency-type: "production"
    ignore:
      - dependency-name: "org.glassfish.jaxb:jaxb-runtime"
      - dependency-name: "org.codehaus.mojo:jaxb2-maven-plugin"
      - dependency-name: "com.fasterxml.jackson:jackson-bom" # Temporary ignore until Jenkins supports new Docker 29+
